/* dragula */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  pointer-events: none;
        
  // Table related css start
  .table-striped>tbody>tr:nth-child(odd)>td {
      background-color: #F9F9F9;
  }
  .table-striped>tbody>tr:nth-child(even)>td {
      background-color: #FFFFFF;
  }
  .table-hover tbody tr:hover td {
      background-color: #0099CC;
      color: $content-text-white;
  }
  .table-hover tbody tr.active td {
      background-color: #0099CC;
      color: $content-text-white;
  }

  font-size: 12px;
  table {
      border-collapse: collapse;
      width: 100%;
      overflow-x: scroll;
      display: block;
  }
  thead {
      background-color: #F5F1EF;
  }
  thead,
  tbody {
      display: block;
  }
  tbody {
      overflow-y: scroll;
      overflow-x: hidden;
      height: 650px;
  }
  td {
      min-width: 100px;
      height: 30px;
      border: solid 1px $border-color;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 100px;
      padding: 5px 5px 5px 10px;
      &.index-clm {
          width: 35px;
          min-width: 35px;
          padding: 5px;
      }
      div {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
      }
  }
  th {
      position: relative;
      font-size: 10px;
      font-weight: bold;
      min-width: 100px;
      height: 30px;
      overflow: hidden;
      text-overflow: ellipsis;
      text-transform: uppercase;
      max-width: 100px;
      padding: 5px 5px 6px 10px;
      border-left: solid 1px $content-text-black;
      border-top: solid 1px $border-color;
      border-bottom: solid 1px $border-color;
      &:last-child {
          border-right: solid 1px $content-text-black;
      }
      &.index-clm {
          width: 35px;
          min-width: 35px;
          padding: 5px;
      }
      span.ui-column-resizer {
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          margin: 0;
          width: 8px;
          height: 100%;
          padding: 0;
          cursor: col-resize;
          border: 1px solid transparent;
        }
      
  }// Table related css end
}
/* high-performance display:none; helper */
.gu-hide {
  left: -9999px !important;
}
/* added to mirrorContainer (default = body) while dragging */
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
/* added to the source element while its mirror is dragged */
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

.sindu_dragger {
    overflow-x: scroll !important;
}