<app-layout>

  <section class="search-deals">
    <h2 class="page-title mb-3">
      Deal List
    </h2>

    <div class="deal-content">
      <!-- Header started -->
      <div class="d-flex py-3 px-0 align-items-center">
        <h4 class="body-title">Administration</h4>
        <div class="ml-auto d-flex align-items-center">
          <div class="right-title mr-2">No of Rows Displayed</div>
          <div class="form-group pmw-45 mb-0">
            <input type="text" (contextmenu)="$event.stopPropagation();" value="{{dealList?.length}}" class="form-control">
          </div>
        </div>
      </div>
      <!-- Header end -->


      <!-- Table start -->
      <div class="deallist-tbl">
        <table appSortableTable (sorted)="onSorted($event)" class="table table-striped table-hover mb-0" id="dataTable"
          #tblDealList (scroll)="scrollHandler($event)">
          <thead [style.width.px]="tblWidth">
            <tr>
              <th class="text-center index-clm">*</th>
              <th  class='dragable' app-sortable-column *ngFor="let col of columnNames" columnName="{{col}}">{{col}}<span class="ui-column-resizer" (mousedown)="onMouseDown($event)"></span></th>
            
            </tr>
          </thead>
          <tbody [style.width.px]="tblWidth">
            <tr *ngFor="let item of dealList; let i = index" [class.active]="activeCode===i" (click)="selectDealItem(content,item, i)"
              (dblclick)="show()">
              <td class="text-center index-clm">{{item.isModified ? '*' : ''}}</td>
              <td *ngFor="let col of columnNames"><div>{{item[col] }}</div></td>
            </tr>

          </tbody>
        </table>

        <!-- Sub Action Panel -->
        <div class="d-flex justify-content-center p-2">
          <div class="p-2">
            <a class="btn btn-action mr-1" (click)="show()"><strong>S</strong>&nbsp;=&nbsp;Show</a>
          </div>
          <div class="p-2">
            <a class="btn btn-action mr-1" (click)="verify()"><strong>V</strong>&nbsp;=&nbsp;Verify</a>
          </div>
          <div class="p-2">
            <a class="btn btn-action mr-1" (click)="delete()"><strong>D</strong>&nbsp;=&nbsp;Delete</a>
          </div>
          <div class="p-2">
            <a class="btn btn-action mr-1" (click)="cancel()"><strong>C</strong>&nbsp;=&nbsp;Cancel</a>
          </div>
          <div class="p-2">
            <a class="btn btn-action mr-1" (click)="modify()"><strong>M</strong>&nbsp;=&nbsp;Modify</a>
          </div>
          <div class="p-2">
            <a class="btn btn-action mr-1" (click)="repeat()"><strong>R</strong>&nbsp;=&nbsp;Repeat</a>
          </div>
        </div>
      </div>
      <!-- Table end -->

    </div>
    <!-- Action bar started -->
    <div class="d-flex justify-content-between action-panel">
      <div class="p-2 d-flex flex-row">
        <div class="pdf-doc mr-3" (click)="printPfd()"></div>
        <div class="xlsx-doc mr-3" (click)="exportToExcel()"></div>
        <div class="edit-doc"></div>
      </div>
      <div class="p-2">
        <a class="btn btn-action mr-1" (click)="refreshTableData()"><strong>F5</strong>&nbsp;=&nbsp;Refresh</a>
      </div>
      <div class="p-2">
        <a class="btn btn-action" (click)="goBackToSearchPage()"><strong>F12</strong>&nbsp;=&nbsp;Back</a>
      </div>
    </div>
    <!-- Action bar end -->

    <ng-template #content let-modal>
      <div class="modal-header">
        <div class="modal-title" id="modal-basic-title">Collateral Management</div>
        <button type="button" class="close" aria-label="Close" (click)="deleteCancel()">
          <span class="close-btn"></span>
        </button>
      </div>
      <div class="modal-body">
        <div class="d-flex flex-column align-items-center h-100">
          <div class="normal-font general-font-size p-3 mb-3">{{confirmMsg}}</div>
          <div class="d-flex justify-content-center w-100">
            <div class="d-flex justify-content-between ">
              <div class="p-2 mb-3">
                <a class="btn btn-action mr-1" (click)="deleteConfirm()"><strong>Y</strong>&nbsp;=&nbsp;Yes</a>
                <a class="btn btn-action mr-1" (click)="deleteCancel()"><strong>N</strong>&nbsp;=&nbsp;No</a>
              </div>

            </div>
          </div>

        </div>
      </div>

    </ng-template>

  </section>



</app-layout>
