@import '../../../assets/scss/variables';
@import '../../../assets/scss/common';

.input-popup-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 30px;
    background-color: #fff;
    border: 1px solid $border-color;
    border-radius: 3px;
    padding: 0 5px 0 10px;

    &.dirty-input{
        border: 1px solid #245A88;
    }

    &.invalid{
        background-color: #E1BAB4;
    }
    
    // INPUT BOX
    .text-input-box {
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        background-color: transparent;
        padding: 0;
        font-size: 12px;
        color: $content-text-black;
        font-weight: 400;
    }
    .button-icon {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        min-width: 10px;
        min-height: 10px;
        margin: 7px 7px 7px 0;
        background: url('../../../assets/i/clear.svg') no-repeat;
        background-size: 10px 10px;
    }
    &.left-icon {
        .button-icon {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            min-width: 10px;
            min-height: 10px;
            margin: 7px 7px 7px 0;
            background: url('../../../assets/i/clear.svg') no-repeat;
            background-size: 10px 10px;
        }
    }
}