<app-layout>

  <section class="search-deals">
    <h2 class="page-title mb-3">
      Search Deals
    </h2>

    <form [formGroup]="searchForm">

      <div class="deal-content">
        <!-- Header started -->
        <div class="d-flex py-3 px-0 align-items-center">
          <h4 class="body-title">Selection Criteria</h4>
          <div class="ml-auto d-flex align-items-center">
            <div class="right-title mr-3 label-text">Max Number of Selection Users</div>
            <div class="form-group mb-0">
              <input type="text" tabindex="0" (contextmenu)="$event.stopPropagation();" formControlName="maxNumberofContract" class="form-control pmw-100">
            </div>
          </div>
        </div>
        <!-- Header end -->

        <!-- Body Started -->

        <!-- First Selection Box -->
        <div class="first-selection-box">
          <div class="d-flex flex-column">

            <!-- first row -->
            <div class="row">
              <div class="col col-9">
                <div class="d-flex">
                  <div class="label-text label-text-short mt-1 mr-1">Brand Name</div>
                  <div class="form-group mid-width-area w-100 mr-2">
                    <app-dropdown tabindex="0" (contextmenu)="$event.stopPropagation();" formControlName="businessUnit" ngDefaultControl [placeholder]="businessUnit" [options]="brandNames"></app-dropdown>
                  </div>
                  <div class="form-group long-width-area w-100 mr-2">
                    <input type="text" (contextmenu)="$event.stopPropagation();" formControlName="businessUnitName" class="form-control input-box">
                  </div>
                </div>
              </div>

              <div class="col col-3"> </div>
            </div>

            <!-- Second row -->
            <div class="row">
              <div class="col col-9">
                <div class="d-flex">
                  <div class="label-text label-text-short mt-1 mr-1">Type</div>
                  <div class="form-group mid-width-area w-100 mr-2">
                    <app-dropdown tabindex="0" (contextmenu)="$event.stopPropagation();" formControlName="branchCode" ngDefaultControl [placeholder]="'Select'" [options]="types"></app-dropdown>

                  </div>
                  <div class="form-group long-width-area w-100 mr-2">
                    <input type="text" (contextmenu)="$event.stopPropagation();" formControlName="branchName" class="form-control input-box">
                  </div>
                </div>
              </div>

              <div class="col col-3"> </div>
            </div>

            <!-- Third row -->
            <div class="row">
              <div class="col col-9">
                <div class="d-flex">
                  <div class="label-text label-text-short mt-1 mr-1">Price</div>
                  <div class="form-group mid-width-area w-100 mr-2">
                    <app-input-popup tabindex="3" (contextmenu)="$event.stopPropagation();" formControlName="containsUserId" ngDefaultControl type="number" [isReadonly]="false"
                      [placeholder]="'Add'" [padNumber]="0" [required]="true" [lookupData]="priceTypes" (selectItem)="selectPriceType($event)"></app-input-popup>
                  </div>
                  <div class="form-group long-width-area w-100 mr-2">
                    <input type="text" (contextmenu)="$event.stopPropagation();" formControlName="traderDetails" class="form-control input-box">
                  </div>
                </div>
              </div>

              <div class="col col-3"> </div>
            </div>

            <!-- Fourth row -->
            <div class="row">
              <div class="col col-9">
                <div class="d-flex">
                  <div class="label-text label-text-short mt-1 mr-1">Quantity</div>
                  <div class="form-group mid-width-area w-100 mr-2">
                    <input type="text" tabindex="0" (contextmenu)="$event.stopPropagation();" formControlName="cifNo" class="form-control" placeholder="Enter">
                  </div>
                  <div class="form-group long-width-area w-100 mr-2 mb-0">
                    <input type="text" (contextmenu)="$event.stopPropagation();" formControlName="counterpartyDetails" class="form-control input-box">
                  </div>
                </div>
              </div>

              <div class="col col-3">
                <div class="d-flex justify-content-end">
                  <div class="label-text label-text-short  mr-2 mt-1">Prime/Not Prime</div>
                  <div class="form-group short-width-area  mr-2 mb-0">
                    <app-dropdown (contextmenu)="$event.stopPropagation();" formControlName="waivered" ngDefaultControl [placeholder]="'Select'" [options]="waiveredStatus"></app-dropdown>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>

        <!-- Second Selection Box -->
        <div class="second-selection-box">
          <div class="d-flex">

            <!-- Left Side -->
            <div class="d-flex flex-column mr-auto">

              <!-- First Row -->
              <div class="d-flex">
                <div class="label-text label-text-short mr-2 mt-1">User Number</div>
                <div class="form-group short-width-area">
                  <input type="text" (contextmenu)="$event.stopPropagation();" formControlName="contractNumber" class="form-control" placeholder="Select">
                </div>
              </div>
              <!-- Second Row -->
              <div class="d-flex">
                <div class="label-text label-text-short mr-2 mt-1">User ID <span class="pl-3">From</span></div>
                <div class="form-group short-width-area">
                  <input type="text" (contextmenu)="$event.stopPropagation();" formControlName="containsFrontIdFrom" class="form-control" placeholder="Enter">
                </div>
                <span class="px-2 mt-1">To</span>
                <div class="form-group short-width-area">
                  <input type="text" (contextmenu)="$event.stopPropagation();" formControlName="containsFrontIdTo" class="form-control" placeholder="Enter">
                </div>
              </div>

            </div>

            <!-- Right Side -->
            <div class="d-flex flex-column ml-2">

              <!-- First Row -->
              <div class="d-flex flex-row">
                <div class="pt-1 label-text label-text-long">Start Date</div>
                <span class="pt-1 pr-2">From</span>
                <div class="short-width-area">
                  <app-date-picker (contextmenu)="$event.stopPropagation();" formControlName="containsStartFrom" ngDefaultControl placeholder="Select" name="date"
                    type="text" [isDate]=true className="date-input" [isReadOnly]="isReadOnly"></app-date-picker>
                </div>
                <span class="pt-1 px-2">To</span>
                <div class="short-width-area">
                  <app-date-picker (contextmenu)="$event.stopPropagation();" formControlName="containsStartTo" ngDefaultControl placeholder="Select" name="date"
                    type="text" [isDate]=true className="date-input" [isReadOnly]="isReadOnly"></app-date-picker>
                </div>
              </div>

              <!-- Second Row -->
              <div class="d-flex flex-row">
                <div class="pt-1 label-text label-text-long">End Date</div>
                <span class="pt-1 pr-2">From</span>
                <div class="short-width-area">
                  <app-date-picker (contextmenu)="$event.stopPropagation();" formControlName="containsEndFrom" ngDefaultControl placeholder="Select" name="date"
                    type="text" [isDate]=true className="date-input" [isReadOnly]="isReadOnly"></app-date-picker>
                </div>
                <span class="pt-1 px-2">To</span>
                <div class="short-width-area">
                  <app-date-picker (contextmenu)="$event.stopPropagation();" formControlName="containsEndTo" ngDefaultControl placeholder="Select" name="date"
                    type="text" [isDate]=true className="date-input" [isReadOnly]="isReadOnly"></app-date-picker>
                </div>
              </div>

              <!-- Third Row -->
              <div class="d-flex flex-row">
                <div class="pt-1 label-text label-text-long">Duration</div>
                <span class="pt-1 pr-2">From</span>
                <div class=" short-width-area">
                  <app-date-picker (contextmenu)="$event.stopPropagation();" formControlName="containsDurationStart" ngDefaultControl placeholder="Select" name="date"
                    type="text" [isDate]=true className="date-input" [isReadOnly]="isReadOnly"></app-date-picker>
                </div>
                <span class="pt-1 px-2">To</span>
                <div class="short-width-area">
                  <app-date-picker (contextmenu)="$event.stopPropagation();" formControlName="containsDurationTo" ngDefaultControl placeholder="Select" name="date"
                    type="text" [isDate]=true className="date-input" [isReadOnly]="isReadOnly"></app-date-picker>
                </div>
              </div>

              <!-- Fourth Row -->
              <div class="d-flex flex-row">
                <div class="pt-1 label-text label-text-long">Verification Date</div>
                <span class="pt-1 pr-2">From</span>
                <div class="short-width-area">
                  <app-date-picker (contextmenu)="$event.stopPropagation();" formControlName="containsVerificationFrom" ngDefaultControl placeholder="'Select'"
                    name="date" type="text" [isDate]=true className="date-input" [isReadOnly]="isReadOnly"></app-date-picker>
                </div>
                <span class="pt-1 px-2">To</span>
                <div class="short-width-area">
                  <app-date-picker (contextmenu)="$event.stopPropagation();" formControlName="containsVerificationTo" ngDefaultControl placeholder="Select" name="date"
                    type="text" [isDate]=true className="date-input" [isReadOnly]="isReadOnly"></app-date-picker>
                </div>
              </div>

            </div>

          </div>
        </div>

        <!-- Third Selection Box -->
        <div class="third-selection-box">

          <div class="d-flex">
            <!-- Left Side -->
            <div class="d-flex flex-column mr-auto w-100">

              <!-- First Row -->
              <div class="d-flex ">
                <div class="label-text label-text-short mr-2 mt-1">Product Type</div>
                <div class="form-group width-120 mr-1 w-100">
                    <app-input-popup (contextmenu)="$event.stopPropagation();" formControlName="productTypeId" ngDefaultControl type="number" [isReadonly]="false"
                    [placeholder]="'Add'" [padNumber]="4" [lookupData]="productTypes" (selectItem)="selectProductType($event)"></app-input-popup>
                </div>
                <div class="form-group width-300 w-100">
                  <input type="text" (contextmenu)="$event.stopPropagation();" formControlName="productType" class="form-control" >
                </div>
              </div>

              <!-- Second Row -->
              <div class="d-flex">
                <div class="label-text label-text-short mr-2 mt-1">Currency</div>
                <div class="form-group width-120 mr-1 w-100">
                    <app-input-popup (contextmenu)="$event.stopPropagation();" formControlName="currencyId" ngDefaultControl type="number" [isReadonly]="false"
                    [placeholder]="'Add'" [padNumber]="4" [lookupData]="currencyTypes" (selectItem)="selectCurrency($event)"></app-input-popup>
                </div>
                <div class="form-group width-300 w-100">
                  <input type="text" (contextmenu)="$event.stopPropagation();" formControlName="currency" class="form-control" >
                </div>
              </div>

              <!-- Third Row -->
              <div class="d-flex">
                <div class="label-text label-text-short mr-2 mt-1">Brand</div>
                <div class="form-group width-230">
                  <input type="text" (contextmenu)="$event.stopPropagation();" formControlName="brandName" class="form-control" placeholder="Enter">
                </div>
              </div>

            </div>

            <!-- Right Side -->
            <div class="d-flex flex-column w-100">

              <!-- First Row -->
              <div class="d-flex justify-content-end">
                <div class="pt-1 label-text label-text-short pl-2">Amount</div>
                <span class="pt-1 pr-2">From</span>
                <div class="form-group short-width-area w-100">
                  <input type="text" (contextmenu)="$event.stopPropagation();" formControlName="productTypeAmountFrom" class="form-control" placeholder="Enter">
                </div>
                <span class="pt-1 px-2">To</span>
                <div class="form-group short-width-area w-100 mr-2">
                  <input type="text" (contextmenu)="$event.stopPropagation();" formControlName="productTypeAmountTo" class="form-control" placeholder="Enter">
                </div>
                <div class="form-group width-50">
                  <input type="text" class="form-control" disabled>
                </div>
              </div>

              <!-- Second Row -->
              <div class="d-flex justify-content-end">
                <div class="pt-1 label-text label-text-short pl-2">Amount</div>
                <span class="pt-1 pr-2">From</span>
                <div class="form-group short-width-area w-100">
                  <input type="text" (contextmenu)="$event.stopPropagation();" formControlName="currencyAmountFrom" class="form-control" placeholder="Enter">
                </div>
                <span class="pt-1 px-2">To</span>
                <div class="form-group short-width-area w-100 mr-2">
                  <input type="text" (contextmenu)="$event.stopPropagation();" formControlName="currencyAmountTo" class="form-control" placeholder="Enter">
                </div>
                <div class="form-group width-50">
                  <input type="text" class="form-control" disabled>
                </div>
              </div>


            </div>
          </div>

        </div>


        <!-- Fourth and Fifth Selection Boxes (Left Side Box and Right Side Box) -->

        <div class="row">

          <div class="col pr-1">
            <!-- Fourth Selection Box (Left Side Box) -->
            <div class="fourth-selection-box">
              <div class="d-flex flex-column">

                <!-- First Row -->
                <div class="d-flex">
                  <div class="pt-1 label-text label-text-short mr-2 ">Status</div>
                  <div class="form-group width-240 w-100">
                    <app-dropdown tabindex="0" (contextmenu)="$event.stopPropagation();" formControlName="status" ngDefaultControl [placeholder]="'Select'" [options]="status"></app-dropdown>
                  </div>
                </div>

                <!-- Second Row -->
                <div class="d-flex">
                  <div class="pt-1 label-text label-text-short mr-2">Status Detail</div>
                  <div class="form-group width-240 w-100">
                    <app-dropdown tabindex="0" (contextmenu)="$event.stopPropagation();" formControlName="statusDetail" ngDefaultControl [placeholder]="'Select'" [options]="statusDetails"></app-dropdown>
                  </div>
                </div>

                <!-- Third Row -->
                <div class="d-flex">
                  <div class="pt-1 label-text label-text-short mr-2">Gift Type</div>
                  <div class="d-flex flex-column">

                    <div class="d-flex p-0">
                      <div class="type-font">
                        <app-checkbox tabindex="0" (contextmenu)="$event.stopPropagation();" formControlName="giftType1" [isChecked]="false" [label]="'Type 1'"></app-checkbox>
                      </div>
                    </div>

                    <div class="d-flex p-0">
                      <div class="type-font">
                        <app-checkbox tabindex="0" (contextmenu)="$event.stopPropagation();" formControlName="giftType2" [isChecked]="false" [label]="'Type 2'"></app-checkbox>
                      </div>
                    </div>

                    <div class="d-flex p-0">
                      <div class="type-font">
                        <app-checkbox tabindex="0" (contextmenu)="$event.stopPropagation();" formControlName="giftType3" [isChecked]="false" [label]="'Type 3'"></app-checkbox>
                      </div>
                    </div>

                    <div class="d-flex p-0">
                      <div class="type-font">
                        <app-checkbox tabindex="0" (contextmenu)="$event.stopPropagation();" formControlName="giftType4" [isChecked]="false" [label]="'Type 4'"></app-checkbox>
                      </div>
                    </div>

                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="col pl-1">
            <!-- Fifith Selection Box (Right Side Box) -->
            <div class="fifth-selection-box">
              <div class="d-flex flex-column">

                <!-- First Row -->
                <div class="d-flex mb-3">
                  <div class="pt-1">
                    <app-checkbox (contextmenu)="$event.stopPropagation();" formControlName="isShowAllDetails" [isChecked]="false" [label]="'Show all details'"></app-checkbox>
                  </div>
                </div>

                <!-- Second Row -->
                <div class="d-flex flex-column">
                  <div class="d-flex mb-2">
                    <div class="label-text">According Order Type</div>
                  </div>

                  <div class="d-flex mb-1">
                    <div class="mr-3">
                      <app-checkbox tabindex="0" (contextmenu)="$event.stopPropagation();" formControlName="order1" [label]="'Order 1'" [isChecked]="false"></app-checkbox>
                    </div>
                    <div class="mr-3">
                      <app-checkbox tabindex="0" (contextmenu)="$event.stopPropagation();" formControlName="order3" [label]="'Order 3'" [isChecked]="false"></app-checkbox>
                    </div>
                    <div class="mr-3">
                      <app-checkbox tabindex="0" (contextmenu)="$event.stopPropagation();" formControlName="order5" [label]="'Order 5'" [isChecked]="false"></app-checkbox>
                    </div>
                    <div class="mr-3">
                      <app-checkbox tabindex="0" (contextmenu)="$event.stopPropagation();" formControlName="order7" [label]="'Order 7'" [isChecked]="false"></app-checkbox>
                    </div>
                  </div>

                  <div class="d-flex mb-2">
                    <div class="mr-3">
                      <app-checkbox tabindex="0" (contextmenu)="$event.stopPropagation();" formControlName="order2" [label]="'Order 2'" [isChecked]="false"></app-checkbox>
                    </div>
                    <div class="mr-3">
                      <app-checkbox tabindex="0" (contextmenu)="$event.stopPropagation();" formControlName="order4" [label]="'Order 4'" [isChecked]="false"></app-checkbox>
                    </div>
                    <div class="mr-3">
                      <app-checkbox tabindex="0" (contextmenu)="$event.stopPropagation();" formControlName="order6" [label]="'Order 6'" [isChecked]="false"></app-checkbox>
                    </div>
                    <div class="mr-3">
                      <app-checkbox tabindex="0" (contextmenu)="$event.stopPropagation();" formControlName="order8" [label]="'Order 8'" [isChecked]="false"></app-checkbox>
                    </div>
                  </div>

                </div>

                <!-- Third Row -->
                <div class="d-flex">
                  <div class="label-text mb-2">According to Selection</div>
                </div>
                <div class="d-flex mb-2">
                  <div class="mr-3">
                    <app-checkbox tabindex="0" (contextmenu)="$event.stopPropagation();" formControlName="selection1" [label]="'Selection 1'" [isChecked]="false"></app-checkbox>
                  </div>
                  <div class="mr-3">
                    <app-checkbox tabindex="0" (contextmenu)="$event.stopPropagation();" formControlName="selection2" [label]="'Selection 2'" [isChecked]="false"></app-checkbox>
                  </div>
                  <div class="mr-3">
                    <app-checkbox tabindex="0" (contextmenu)="$event.stopPropagation();" formControlName="selection3" [label]="'Selection 3'" [isChecked]="false"></app-checkbox>
                  </div>
                </div>

              </div>

            </div>

          </div>
        </div>



        <!-- Body End -->

      </div>

    </form>
    <!-- Action bar started -->
    <div class="d-flex justify-content-between action-panel">
      <div class="p-2 ">

      </div>
      <div class="p-2">
        <a class="btn btn-action mr-1" (click)="searchDeals()"><strong>F3/E</strong>&nbsp;=&nbsp;Search</a>
        <a class="btn btn-action mr-1" (click)="resetForm()"><strong>F5</strong>&nbsp;=&nbsp;Reset</a>
      </div>
      <div class="p-2">
        <a class="btn btn-action" (click)="goBackTomainMenu()"><strong>F12</strong>&nbsp;=&nbsp;Back</a>
      </div>
    </div>
    <!-- Action bar end -->

  </section>



</app-layout>